Repository seanbearden/kalshi-analysis: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, WebSocket Infrastructure, API Layer, Domain Logic, Kalshi Integration, Repositories, UI Components, Backend API, Frontend UI

feat: modernize header and footer with glassmorphism and animations
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Header.tsx
Due: frontend, UI Components, Frontend UI

feat: add modern gradient backgrounds, enhanced shadows, and vibrant colors
  frontend/src/components/MarketCard.tsx
  frontend/src/components/ui/Skeleton.tsx
  frontend/src/index.css
  frontend/src/pages/BacktestsPage.tsx
  frontend/src/pages/MarketsPage.tsx
Due: frontend, UI Components, Frontend UI

fix: align prettier version between pre-commit and CI (3.6.2)
  .pre-commit-config.yaml
  frontend/src/index.css
Due: frontend, Frontend UI

test: add comprehensive tests for UI components to meet patch coverage
  frontend/src/components/Footer.test.tsx
  frontend/src/components/Header.test.tsx
  frontend/src/components/MarketCard.test.tsx
  frontend/src/components/ui/Skeleton.test.tsx
Due: none

fix: resolve ESLint errors in test files and ignore coverage directory
  frontend/.eslintrc.cjs
  frontend/eslint.config.js
  frontend/src/components/Footer.test.tsx
Due: frontend

Phase 2: UI Polish - Modern Design Overhaul (#32)
  .pre-commit-config.yaml
  backend/.env.example
  backend/.gitignore
  backend/core/config.py
  frontend/.eslintrc.cjs
  frontend/eslint.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/components/Footer.test.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Header.test.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/MarketCard.test.tsx
  frontend/src/components/MarketCard.tsx
  frontend/src/components/ui/Skeleton.test.tsx
  frontend/src/components/ui/Skeleton.tsx
  frontend/src/index.css
  frontend/src/pages/BacktestsPage.tsx
  frontend/src/pages/MarketsPage.tsx
Due: backend, frontend, UI Components, Backend API, Frontend UI

feat: implement Phase 1C backtesting framework with calibration analysis
  notebooks/03_calibration_analysis.ipynb
  notebooks/04_strategy_optimization.ipynb
  notebooks/README.md
  notebooks/requirements.txt
  notebooks/utils/__init__.py
  notebooks/utils/backtesting.py
  notebooks/utils/database.py
  notebooks/utils/metrics.py
  notebooks/utils/visualization.py
Due: none

test: add comprehensive testing infrastructure for notebooks
  .github/workflows/ci.yml
  codecov.yml
  notebooks/README.md
  notebooks/pytest.ini
  notebooks/requirements.txt
  notebooks/tests/__init__.py
  notebooks/tests/conftest.py
  notebooks/tests/test_notebooks.py
  notebooks/tests/test_utils.py
Due: none

fix: export MeanReversionStrategy from utils module
  notebooks/utils/__init__.py
Due: none

fix: handle edge cases in backtest and metrics calculations
  notebooks/utils/backtesting.py
  notebooks/utils/metrics.py
Due: none

fix: handle IPython magic commands in notebook syntax validation
  notebooks/tests/test_notebooks.py
Due: none

chore: remove unused Path import from test_notebooks.py
  notebooks/tests/test_notebooks.py
Due: none

chore: remove unused imports and variables
  notebooks/tests/test_utils.py
  notebooks/utils/backtesting.py
  notebooks/utils/visualization.py
Due: none

Phase 1C: Data Science Backtesting Framework (#33)
  .github/workflows/ci.yml
  codecov.yml
  notebooks/03_calibration_analysis.ipynb
  notebooks/04_strategy_optimization.ipynb
  notebooks/README.md
  notebooks/pytest.ini
  notebooks/requirements.txt
  notebooks/tests/__init__.py
  notebooks/tests/conftest.py
  notebooks/tests/test_notebooks.py
  notebooks/tests/test_utils.py
  notebooks/utils/__init__.py
  notebooks/utils/backtesting.py
  notebooks/utils/database.py
  notebooks/utils/metrics.py
  notebooks/utils/visualization.py
Due: none

feat: implement Phase 2 - Account Integration with JWT Authentication
  backend/.env.example
  backend/alembic/versions/20251005_0143_413e47bb0bb2_add_account_integration_tables.py
  backend/api/v1/__init__.py
  backend/api/v1/account.py
  backend/core/config.py
  backend/core/exceptions.py
  backend/domain/models/account.py
  backend/infrastructure/kalshi/authenticated_client.py
  backend/requirements.txt
  backend/schemas/account.py
  backend/services/account/__init__.py
  backend/services/account/credential_manager.py
  backend/services/account/position_tracker.py
  backend/tests/conftest.py
  backend/tests/integration/test_account_api.py
  backend/tests/unit/test_credential_manager.py
  docs/account-dashboard-spec.md
  docs/architecture-account-integration.md
  docs/architecture-overview.md
  docs/implementation-checklist.md
  docs/phase-1-implementation-progress.md
Due: backend, API Layer, Domain Logic, Kalshi Integration, Backend API

fix: resolve mypy type checking errors
  backend/api/v1/account.py
  backend/infrastructure/kalshi/authenticated_client.py
  backend/services/__init__.py
  backend/services/account/__init__.py
  backend/tests/conftest.py
  backend/tests/integration/test_account_api.py
Due: backend, API Layer, Kalshi Integration, Backend API

fix: add type annotations to integration tests
  backend/tests/integration/test_account_api.py
Due: none

fix: suppress unused variable warnings in Alembic migration
  backend/alembic/versions/20251005_0143_413e47bb0bb2_add_account_integration_tables.py
Due: backend, Backend API

security: prevent log injection attacks
  backend/api/v1/account.py
Due: backend, API Layer, Backend API

Phase 2: Account Integration with JWT Authentication (#34)
  backend/.env.example
  backend/alembic/versions/20251005_0143_413e47bb0bb2_add_account_integration_tables.py
  backend/api/v1/__init__.py
  backend/api/v1/account.py
  backend/core/config.py
  backend/core/exceptions.py
  backend/domain/models/account.py
  backend/infrastructure/kalshi/authenticated_client.py
  backend/requirements.txt
  backend/schemas/account.py
  backend/services/__init__.py
  backend/services/account/__init__.py
  backend/services/account/credential_manager.py
  backend/services/account/position_tracker.py
  backend/tests/conftest.py
  backend/tests/integration/test_account_api.py
  backend/tests/unit/test_credential_manager.py
  docs/account-dashboard-spec.md
  docs/architecture-account-integration.md
  docs/architecture-overview.md
  docs/implementation-checklist.md
  docs/phase-1-implementation-progress.md
Due: backend, API Layer, Domain Logic, Kalshi Integration, Backend API

Path conditions:
  backend: (any of: backend/, but not: **/*.test.py, **/*.test.ts, **/*.test.tsx, **/test/**/*, **/tests/**/*, **/__tests__/**/*, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/dist/**, **/build/**, **/.pytest_cache/**, **/htmlcov/**, **/coverage/**, **/*.config.js, **/*.config.ts, **/vite.config.ts, **/vitest.config.ts, **/*.md, docs/**, claudedocs/**) or (any of: backend/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.py, **/test_*.py, **/__tests__/**, **/tests/**, **/*.config.js, **/*.config.ts, **/vite.config.ts, **/dist/**, **/build/**, **/.venv/**, **/venv/**, **/node_modules/**)
  frontend: (any of: frontend/, but not: **/*.test.py, **/*.test.ts, **/*.test.tsx, **/test/**/*, **/tests/**/*, **/__tests__/**/*, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/dist/**, **/build/**, **/.pytest_cache/**, **/htmlcov/**, **/coverage/**, **/*.config.js, **/*.config.ts, **/vite.config.ts, **/vitest.config.ts, **/*.md, docs/**, claudedocs/**) or (any of: frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.py, **/test_*.py, **/__tests__/**, **/tests/**, **/*.config.js, **/*.config.ts, **/vite.config.ts, **/dist/**, **/build/**, **/.venv/**, **/venv/**, **/node_modules/**)
  WebSocket Infrastructure: (any of: backend/infrastructure/kalshi/websocket_client.py, backend/infrastructure/polling/gap_filler.py, but not: **/*.test.py, **/*.test.ts, **/*.test.tsx, **/test/**/*, **/tests/**/*, **/__tests__/**/*, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/dist/**, **/build/**, **/.pytest_cache/**, **/htmlcov/**, **/coverage/**, **/*.config.js, **/*.config.ts, **/vite.config.ts, **/vitest.config.ts, **/*.md, docs/**, claudedocs/**) or (any of: backend/infrastructure/kalshi/websocket_client.py, backend/infrastructure/polling/gap_filler.py, but not: **/*.test.ts, **/*.test.tsx, **/*.test.py, **/test_*.py, **/__tests__/**, **/tests/**, **/*.config.js, **/*.config.ts, **/vite.config.ts, **/dist/**, **/build/**, **/.venv/**, **/venv/**, **/node_modules/**)
  API Layer: any of: backend/api/**, but not: **/*.test.py, **/*.test.ts, **/*.test.tsx, **/test/**/*, **/tests/**/*, **/__tests__/**/*, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/dist/**, **/build/**, **/.pytest_cache/**, **/htmlcov/**, **/coverage/**, **/*.config.js, **/*.config.ts, **/vite.config.ts, **/vitest.config.ts, **/*.md, docs/**, claudedocs/**
  Domain Logic: any of: backend/domain/**, but not: **/*.test.py, **/*.test.ts, **/*.test.tsx, **/test/**/*, **/tests/**/*, **/__tests__/**/*, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/dist/**, **/build/**, **/.pytest_cache/**, **/htmlcov/**, **/coverage/**, **/*.config.js, **/*.config.ts, **/vite.config.ts, **/vitest.config.ts, **/*.md, docs/**, claudedocs/**
  Kalshi Integration: any of: backend/infrastructure/kalshi/**, but not: **/*.test.py, **/*.test.ts, **/*.test.tsx, **/test/**/*, **/tests/**/*, **/__tests__/**/*, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/dist/**, **/build/**, **/.pytest_cache/**, **/htmlcov/**, **/coverage/**, **/*.config.js, **/*.config.ts, **/vite.config.ts, **/vitest.config.ts, **/*.md, docs/**, claudedocs/**
  Repositories: any of: backend/domain/repositories/**, but not: **/*.test.py, **/*.test.ts, **/*.test.tsx, **/test/**/*, **/tests/**/*, **/__tests__/**/*, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/dist/**, **/build/**, **/.pytest_cache/**, **/htmlcov/**, **/coverage/**, **/*.config.js, **/*.config.ts, **/vite.config.ts, **/vitest.config.ts, **/*.md, docs/**, claudedocs/**
  UI Components: any of: frontend/src/components/**, but not: **/*.test.py, **/*.test.ts, **/*.test.tsx, **/test/**/*, **/tests/**/*, **/__tests__/**/*, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/dist/**, **/build/**, **/.pytest_cache/**, **/htmlcov/**, **/coverage/**, **/*.config.js, **/*.config.ts, **/vite.config.ts, **/vitest.config.ts, **/*.md, docs/**, claudedocs/**
  Backend API: any of: backend/**, but not: **/*.test.ts, **/*.test.tsx, **/*.test.py, **/test_*.py, **/__tests__/**, **/tests/**, **/*.config.js, **/*.config.ts, **/vite.config.ts, **/dist/**, **/build/**, **/.venv/**, **/venv/**, **/node_modules/**
  Frontend UI: any of: frontend/src/**, but not: **/*.test.ts, **/*.test.tsx, **/*.test.py, **/test_*.py, **/__tests__/**, **/tests/**, **/*.config.js, **/*.config.ts, **/vite.config.ts, **/dist/**, **/build/**, **/.venv/**, **/venv/**, **/node_modules/**
