Repository seanbearden/kalshi-analysis: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend API, Frontend UI

fix: use 'files' parameter instead of 'file' for codecov-action@v5
  .github/workflows/ci.yml
Due: none

chore: add Codecov configuration with flags and components (#19)
  .github/workflows/ci.yml
  codecov.yml
Due: none

fix: mark Alembic migration variables as public to resolve CodeQL warnings
  backend/alembic/versions/20250103_1200_001_initial_schema.py
Due: backend, Backend API

docs: add Codecov badge and coverage sunburst graph to README
  README.md
Due: none

fix: mark Alembic migration variables as public to resolve CodeQL warnings (#20)
  backend/alembic/versions/20250103_1200_001_initial_schema.py
Due: backend, Backend API

fix: add token and file existence checks for Codecov uploads
  .github/workflows/ci.yml
Due: none

docs: add Codecov badge and coverage sunburst graph to README (#21)
  README.md
Due: none

test: add Vitest with basic utility tests
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/test/setup.ts
  frontend/src/utils/format.test.ts
  frontend/src/utils/format.ts
  frontend/vitest.config.ts
Due: frontend, Frontend UI

fix: add CODECOV_TOKEN and file checks for coverage uploads
  .github/workflows/ci.yml
Due: none

fix: add token and file existence checks for Codecov uploads (#22)
  .github/workflows/ci.yml
Due: none

test: add Vitest with basic utility tests and coverage (#23)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/test/setup.ts
  frontend/src/utils/format.test.ts
  frontend/src/utils/format.ts
  frontend/vitest.config.ts
Due: frontend, Frontend UI

feat: add JUnit XML test reporting for Codecov analytics
  .codecov/test-reporting-config.md
  .github/workflows/ci.yml
Due: none

feat: add JUnit XML test reporting for Codecov analytics (#24)
  .codecov/test-reporting-config.md
  .github/workflows/ci.yml
Due: none

test: add comprehensive backend test coverage with 66% overall coverage
  .serena/memories/backend_testing_implementation.md
  backend/tests/conftest.py
  backend/tests/integration/test_markets_api.py
  backend/tests/unit/test_backtest_repository.py
  backend/tests/unit/test_kalshi_client.py
  backend/tests/unit/test_market_repository.py
Due: none

fix: resolve mypy type errors in test files
  backend/tests/unit/test_backtest_repository.py
  backend/tests/unit/test_kalshi_client.py
Due: none

fix: set environment variables in conftest for CI compatibility
  backend/tests/conftest.py
Due: none

fix: resolve CI test failures and improve test isolation
  backend/requirements-dev.txt
  backend/tests/conftest.py
  backend/tests/unit/test_kalshi_client.py
Due: backend, Backend API

fix: use flush() instead of commit() in fixtures for proper test isolation
  backend/tests/conftest.py
Due: none

test: add comprehensive backend test coverage (66%) (#25)
  .serena/memories/backend_testing_implementation.md
  backend/requirements-dev.txt
  backend/tests/conftest.py
  backend/tests/integration/test_markets_api.py
  backend/tests/unit/test_backtest_repository.py
  backend/tests/unit/test_kalshi_client.py
  backend/tests/unit/test_market_repository.py
Due: backend, Backend API

docs: comprehensive Phase 1 architecture and completion guide
  .serena/memories/phase1_implementation_summary.md
  claudedocs/phase1-implementation-status.md
  docs/PHASE1_COMPLETION_CHECKLIST.md
  docs/archive/README.md
  docs/archive/kalshi-hybrid-sdk-architecture.md
  docs/archive/kalshi-integration-patterns.md
  docs/archive/kalshi-mvp-implementation-plan.md
  docs/archive/system-architecture-design.md
  docs/phase-1-architecture.md
  docs/phase-2-architecture.md
Due: none

docs: comprehensive Phase 1 architecture and completion guide (#26)
  .serena/memories/phase1_implementation_summary.md
  claudedocs/phase1-implementation-status.md
  docs/PHASE1_COMPLETION_CHECKLIST.md
  docs/archive/README.md
  docs/archive/kalshi-hybrid-sdk-architecture.md
  docs/archive/kalshi-integration-patterns.md
  docs/archive/kalshi-mvp-implementation-plan.md
  docs/archive/system-architecture-design.md
  docs/phase-1-architecture.md
  docs/phase-2-architecture.md
Due: none

feat: complete Phase 1 implementation with backtesting framework
  .serena/memories/phase1_implementation_complete.md
  backend/.env.example
  backend/core/config.py
  notebooks/01_data_exploration.ipynb
  notebooks/02_strategy_backtest.ipynb
  notebooks/README.md
Due: backend, Backend API

feat: complete Phase 1 implementation with backtesting framework (#27)
  .serena/memories/phase1_implementation_complete.md
  backend/.env.example
  backend/core/config.py
  notebooks/01_data_exploration.ipynb
  notebooks/02_strategy_backtest.ipynb
  notebooks/README.md
Due: backend, Backend API

feat: implement Phase 2 WebSocket real-time monitoring
  backend/.env.example
  backend/api/v1/markets.py
  backend/core/config.py
  backend/domain/repositories/market.py
  backend/infrastructure/kalshi/websocket_client.py
  backend/infrastructure/polling/gap_filler.py
  backend/infrastructure/polling/poller.py
  backend/requirements.txt
  backend/tests/test_websocket_integration.py
  docs/PHASE2_IMPLEMENTATION.md
Due: backend, Backend API

fix: resolve all mypy type checking errors for Phase 2
  backend/api/v1/markets.py
  backend/infrastructure/polling/poller.py
  backend/tests/test_websocket_integration.py
Due: backend, Backend API

fix: resolve WebSocket integration test errors
  backend/tests/test_websocket_integration.py
Due: none

fix: ensure test isolation with function-scoped database engine
  backend/tests/conftest.py
Due: none

feat: add enhanced Codecov configuration with component tracking
  .codecov.yml
  claudedocs/research_codecov_pr_comments_20251004.md
  docs/PHASE2_IMPLEMENTATION.md
Due: none

fix: update codecov.yml to match proven working configuration
  .codecov.yml
Due: none

fix: add WebSocket infrastructure component tracking to codecov.yml
  .codecov.yml
  codecov.yml
Due: none

feat: add dedicated patch coverage check for WebSocket infrastructure
  codecov.yml
Due: none

feat: implement Phase 1 & Phase 2 - Full Stack Market Insights Platform (#28)
  backend/.env.example
  backend/api/v1/markets.py
  backend/core/config.py
  backend/domain/repositories/market.py
  backend/infrastructure/kalshi/websocket_client.py
  backend/infrastructure/polling/gap_filler.py
  backend/infrastructure/polling/poller.py
  backend/requirements.txt
  backend/tests/conftest.py
  backend/tests/test_websocket_integration.py
  claudedocs/research_codecov_pr_comments_20251004.md
  codecov.yml
  docs/PHASE2_IMPLEMENTATION.md
Due: backend, Backend API

feat: separate test results upload per Codecov best practices
  .github/workflows/ci.yml
Due: none

feat: separate test results upload per Codecov best practices (#29)
  .github/workflows/ci.yml
Due: none

feat: add separate patch coverage checks for frontend and backend
  codecov.yml
Due: none

feat: add Codecov bundle analysis for frontend
  .github/workflows/ci.yml
  codecov.yml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/vite.config.ts
Due: none

feat: add separate patch coverage checks for frontend and backend (#30)
  codecov.yml
Due: none

feat: add Codecov bundle analysis for frontend (#31)
  .github/workflows/ci.yml
  codecov.yml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/vite.config.ts
Due: none

feat: add Kalshi API authentication support
  backend/.env.example
  backend/.gitignore
  backend/core/config.py
Due: backend, Backend API

feat: Phase 2 UI polish - card layouts, animations, and loading skeletons
  frontend/.eslintrc.cjs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/MarketCard.tsx
  frontend/src/components/ui/Skeleton.tsx
  frontend/src/pages/BacktestsPage.tsx
  frontend/src/pages/MarketsPage.tsx
Due: frontend, Frontend UI

Path conditions:
  backend: any of: backend/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.py, **/test_*.py, **/__tests__/**, **/tests/**, **/*.config.js, **/*.config.ts, **/vite.config.ts, **/dist/**, **/build/**, **/.venv/**, **/venv/**, **/node_modules/**
  frontend: any of: frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.py, **/test_*.py, **/__tests__/**, **/tests/**, **/*.config.js, **/*.config.ts, **/vite.config.ts, **/dist/**, **/build/**, **/.venv/**, **/venv/**, **/node_modules/**
  Backend API: any of: backend/**, but not: **/*.test.ts, **/*.test.tsx, **/*.test.py, **/test_*.py, **/__tests__/**, **/tests/**, **/*.config.js, **/*.config.ts, **/vite.config.ts, **/dist/**, **/build/**, **/.venv/**, **/venv/**, **/node_modules/**
  Frontend UI: any of: frontend/src/**, but not: **/*.test.ts, **/*.test.tsx, **/*.test.py, **/test_*.py, **/__tests__/**, **/tests/**, **/*.config.js, **/*.config.ts, **/vite.config.ts, **/dist/**, **/build/**, **/.venv/**, **/venv/**, **/node_modules/**
